*{
    box-sizing: border-box;
}

html {
    font-size:100%;/*=16px*/
    scroll-behavior: smooth;
    font-family: "Noto Sans JP", sans-serif ,"Alegreya Sans", sans-serif;
}

.font_en{
    font-family: "Alegreya Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
}

.font_jp{
    font-family: "Noto Sans JP", sans-serif ;
    font-style: normal;
    font-weight:500;
}


img {
    max-width:100%;
}

/* body */
body {
    min-width:320px;
    color: #0735FD;
    font-family: "Zen Kaku Gothic New", sans-serif,"Noto Sans JP", sans-serif;
    background-color: #fff;
}

body::before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../img/pc_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #464646;
}

/*-------- main -------*/
.main{
    position: relative;
}

.keyv_pc{
    content: '';
    display: block;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/KV_people_pc.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.keyv_pc::after{
        content: '';
    display: block;
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../img/KV_effect_pc.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


/*------- キャッチコピー -------*/
.maincopy{
    padding-left: 60px;
    padding-bottom: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
}


/*------- ヘッダー -------*/
.header_logo{
    position: absolute;
    z-index: 1000;
    padding-left: 60px;
    padding-top: 60px;
}

/*ボタン外側*/
.openbtn{
	position: fixed;
    right:60px;
    top: 60px;
	background-color:rgba(17, 17, 17, 0.75);
    border: 4px solid #fff;
	cursor: pointer;
    z-index: 1100;
    width: 80px;
    height:80px;
	border-radius: 50px;
    cursor: pointer;
}

/*ボタン内側*/
.openbtn .openbtn-area{
    transition: all .6s;
	width:71px;
	height:71px;
}

.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 17px;
    height: 4px;
    border-radius: 4px;
	background: #fff;
  	width: 53%;
  }

.openbtn span:nth-of-type(1) {
	top:22px;	
}

.openbtn span:nth-of-type(2) {
	top:34px;
}

.openbtn span:nth-of-type(3) {
	top:46px;
}

.openbtn.active .openbtn-area{
	transform: rotate(360deg);
}

.openbtn.active span:nth-of-type(1) {
    top: 28px;
    left: 17px;
    transform: translateY(6px) rotate(-45deg);
    width: 53%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 40px;
    left: 17px;
    transform: translateY(-6px) rotate(45deg);
    width: 53%;
}

/* ナビゲーション */
.nav{
    position: fixed;
    top: 100px;
    right: 100px;
    width: 0;
    height: 0;
    background:#fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-in-out;
}

.nav.panelactive {
    right: 0;
}

.openbtn.active + .nav, 
.nav.active {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 300vmax; 
    height: 300vmax;
    border-radius: 50%;
    opacity: 1;
    visibility: visible;
}

#g-navi {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
/*非表示*/
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}

.openbtn.active ~ .nav #g-navi,
.nav.active #g-navi {
    opacity: 1;
    visibility: visible;
}

/* モーション */
#g-navi li {
    margin: 20px 0;
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

/* 順番に出現 */
.openbtn.active ~ .nav #g-navi li,
.nav.active #g-navi li {
    transform: translateY(0);
    opacity: 1;
}

.openbtn.active ~ .nav #g-navi li:nth-child(1), .nav.active #g-navi li:nth-child(1) { transition-delay: 0.3s; }
.openbtn.active ~ .nav #g-navi li:nth-child(2), .nav.active #g-navi li:nth-child(2) { transition-delay: 0.4s; }
.openbtn.active ~ .nav #g-navi li:nth-child(3), .nav.active #g-navi li:nth-child(3) { transition-delay: 0.5s; }
.openbtn.active ~ .nav #g-navi li:nth-child(4), .nav.active #g-navi li:nth-child(4) { transition-delay: 0.6s; }
.openbtn.active ~ .nav #g-navi li:nth-child(5), .nav.active #g-navi li:nth-child(5) { transition-delay: 0.7s; }



/* ------スクロールバー------ */

.scrollbar-text{
  display: inline-block;
  position: absolute;
  bottom: 0;
  padding: 10px 10px 175px;
  color: #fff;
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  line-height: 0.7;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  right:60px;
}

.scrollbar{
  position: absolute;
  bottom: 60px;
  right: 77px;
}

.scrollbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5px;
  height: 100px;
  background: #fff;
  animation: liner 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes liner {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  30% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  70% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
